# UE5 Configuration Files
Saved/*

# Compiled Source Files
Intermediate/*
Plugins/*/Intermediate/*

# Cache for editor
DerivedDataCache/*

# Builds
Build/*/**

#Build data for maps
*_BuiltData.uasset

# Binaries
Binaries/*
Plugins/*/Binaries/*
